body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  padding: 20px;
}

h1 {
  text-align: center;
}


#countries {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 15px;
}

.card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}


.card img {
  width: 90%;
  height: 120px;
  object-fit: cover;
}


#pagination {
  text-align: center;
}

#pagination button {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  background: #333;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

#pagination button.active {
  background: #007bff;
}
